{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/js" href="{% static 'js/index.js' %}" />
</head>


<body>
    <h1>ShopLocal</h1>
    {% for d in items %}
    <div class="shopping-cart">
        <div class="item">
            <div class="description">
                <span><div class="price-bold">₹{{d.item_name}}</div></span>
                <span><div class="price-bold">₹{{d.item_price}}</div></span>

                <br>
                <span class="button"><button type="button">Add to Cart</button></span>
                <br>
                <span class="button"><button type="button">QuickView</button></span>
                <div class="image"><img src="{% static 'images/wallet.jpg' %}"></div>
            </div>
        </div>
    </div>
    {% endfor %} {% for d in items %}
    <div class="shopping-cart"></div>
    <div class="image"><img src="{% static 'images/wallet.jpg' %}"></div>
    {% endfor %}
</body>

</html>
